.header-container {
    border-bottom: 1px solid var(--line-color);
}

.header-bottom--brown {
    background-color: var(--primary-color);
}

.header-bottom--brown .container {
    background-color: var(--primary-color);
}

.main-container .container {
    width: 90%;
    margin: 0 auto;
}

.register-form .title {
    font-size: 3.4rem;
    text-align: center;
    padding: 20px 0 ;
}

.register-form-wrapper {
    margin: 0 auto;
}

.register-form {
    min-width: 400px;
    margin: 20px auto;
}

.register-form .title {
    margin-bottom: 20px;
}

.inpt-box input {
    width: 100%;
    height: 50px;
    border-radius: 3px;
    border: 1px solid var(--text-color);
    margin-bottom: 15px;
}


.privacy-policy {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.privacy-policy p {
    font-size: 1.2rem;
}

.privacy-policy a {
    text-decoration: underline;
}


.privacy-policy-bottom {
    font-size: 1.2rem;
    text-align: center;
}

.register-form .submit {
    width: 100%;
    margin-bottom: 10px;
}


.btn-create {
    width: 100%;
}
